
.div1 {
  width: 17rem;
  background-color: grey;
 height: 20rem;
 font-size: 8rem;
 margin-top: 25%;
}
.div2{
    display: flex;
    text-align: center;
    margin-left: 23%;
    gap: 0rem;
}
.div3{
    font-size: 4rem;
    background-color: red;
}
/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.4); /* אפור שקוף */
  /* z-index: 2;
  pointer-events: all; /* מונע לחיצות */
  /* border-radius: 1rem; */
/* } */